.tui-btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid #333;
  background: #fff;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  &:focus,
  &.focus {
    outline: 0;
    color: $primary;
    border-color: $primary;
    border: $btn-border-width solid;
    transition: none;
  }
  &:hover {
    color: $primary;
    border-color: $primary;
  }
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

// size
.tui-btn-large {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}
.tui-btn-small {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

// shape
.tui-btn-circle {
  min-width: 2rem;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  border-radius: 50%;
}

.tui-btn-circle.tui-btn-large {
  min-width: 2.5rem;
  border-radius: 50%;
}

.tui-btn-circle.tui-btn-small {
  min-width: 1.5rem;
  border-radius: 50%;
}

.tui-btn-round {
  min-width: 2rem;
  text-align: center;
  border-radius: 3.125rem;
}

.tui-btn-circle.tui-btn-large {
  min-width: 2.5rem;
  border-radius: 3.125rem;
}

.tui-btn-circle.tui-btn-small {
  min-width: 1.5rem;
  border-radius: 3.125rem;
}

.tui-btn-primary {
  @include button-style($primary, $primary, $white);
}
.tui-btn-danger {
  @include button-style($danger, $danger, $white);
}

.tui-btn-dash {
  border: $btn-border-width dashed #333;
}

.tui-btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: $link-decoration;
  box-shadow: none;
  border: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
    outline: 0;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}
