.tui-tabs-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: $nav-tabs-content-margin;
  list-style: none;
}

.tui-tabs-nav-item {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  
  cursor: pointer;
  &:hover,
  &:focus {
    color: $nav-tabs-link-hover-color;
  }
  // Disabled state lightens text
  &.tui-tab-disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
    background-color: transparent;
    border-color: transparent;
  }
  &.is-active {
    color: $nav-tabs-link-active-color;
  }
}

// tab 选项卡居中为 True 的情况下的样式
.tui-tab-centered {
  width: 100%;
  margin: 0 auto;
  .tui-tabs-nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// 选项卡选中状态的样式
.nav-line {
  &::before {
    position: absolute;
    right: 0;
    left: 0;
    content: '';
  }
}

.nav-card {
  &::before {
    position: absolute;
    right: 0;
    left: 0;
    content: '';
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  }

  .tui-tabs-nav-item {
    margin-right: 0.1rem;
    background: #fafafa;
    border: $nav-tabs-border-width solid #dee2e6;
    border-bottom: none;
    margin-bottom: -$nav-tabs-border-width;
    &.is-active {
      z-index: 1;
      background-color: $nav-tabs-link-active-bg;
      border-color: $nav-tabs-link-active-border-color;
    }
  }
}

.tui-tab-top {
  flex-direction: row;
}

.tui-tab-top {
  & .nav-line {
    &::before {
      bottom: 0;
    }

    .tui-tabs-nav-item {
      &.is-active {
        border-bottom: $nav-tabs-border-width * 2 solid $nav-tabs-link-active-color;
      }
    }
  }

  & .nav-card {
    &::before {
      bottom: 0;
    }
  }
}

.tui-tab-bottom {
  display: flex;
  flex-direction: column-reverse;
  .tui-tabs-nav {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  & .nav-line {
    &::before {
      top: 0;
    }
    .tui-tabs-nav-item {
      &.is-active {
        border-top: $nav-tabs-border-width * 2 solid $nav-tabs-link-active-color;
      }
    }
  }

  & .nav-card {
    &::before {
      top: 0;
      bottom: auto;
    }
    .tui-tabs-nav-item {
      border-top: none;
      border-bottom: $nav-tabs-border-width solid #dee2e6;
      &.is-active {
        z-index: 1;
        border-color: $nav-tabs-card-link-active-border-color;
      }
    }
  }
}
